#bootloader {
    display: inline-block;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    background-color: #000000;
    overflow-y: hidden;
    overflow-x: hidden;
    color: #FFFFFF;
    width: 100%;
    word-wrap: normal;
    white-space: pre-wrap;

    transition: opacity 1s;
}

#bootloader red {
    color: #FF0000;
}

#bootloader green {
    color: #00FF00;
}

#bootloader brightblue {
    color: rgb(68, 183, 212);
}

#no_start {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.start_unavailable {
    color: #FFFFFF;
    margin: auto;
    display: none;
    text-align: center;
}

.start_unavailable a {
    color: #FFFFFF;
}