#bootunloader {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 6;
    display: none;
    opacity: 0;
    transition: opacity 1s;
    width: 100vw;
    overflow-y: hidden;
    background-color: #000000;
}