#desktop {
    height: calc(100vh - var(--taskbar-height));
}

#email_window {
    background-color: #202020;
    color: #fff;
}

#email_window .email_container {
    height: auto;
}

#email_window .email_container .author {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 50px;
    padding-right: 50px;
    border-right: 2px solid #fff;
    display: inline-block;
    height: 100%;
}

#email_window .email_container .title {
    padding-left: 25px;
    display: inline-block;
    height: 100%;
}

#email_window .email_container .content {
    font-size: 0.8em;
}

#videoplayer_window #video {
    width: 100%;
    height: 100%;
}

.ui-dialog {
    z-index: 2 !important;
}