.docker {
    background-color: rgba(216, 212, 212, 0.5);
    display: inline-block;
    border-radius: 8px;

    position: absolute;
    bottom: 0;
    left: calc(50% - 10px - 32px);
}

.docker img {
    margin : 5px;
    cursor: pointer;
}