#login {
    position: fixed;
    top: var(--taskbar-height);
    left: 0px;

    width: 100vw;
    height: calc(100vh - var(--taskbar-height));

    z-index: 3;
    display: none;
}

#login #box {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 40%;
    background-color: #202020;
    border-radius: 0px 0px 20px 20px;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #303030;
    text-align: center;
    padding: 70px 0;
    color: white;
}

#desktop {
    display: none;
}

#login #box #cannot_login {
    display: none;
    background-color: #FF0000; 
    margin-top: 15px; 
}

#login #intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: #000;
    z-index: 8;
    color: #fff;
}

#login #intro .os {
    position: absolute;
    top: 42%;
    width: 100%;
    text-align: center;
}

#login #intro .loading {
    position: absolute;
    top: 53%;
    width: 100%;
    text-align: center;
}

@-webkit-keyframes fadeOutDown {
    from {
        opacity: 1;
    }
  
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}
  
@keyframes fadeOutDown {
    from {
        opacity: 1;
    }
  
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
  
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
  
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
  
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}