@font-face {
    src: url('../fonts/FiraCode-Retina.otf');
    font-family: FiraCode;
}

html, body {
    font-family: FiraCode;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    padding: 0px;
    margin: 0px;

    overflow: hidden;

    background: linear-gradient(#000000, #000000), url('../assets/images/wallpaper.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: saturation;
    background-size: cover;
}