:root {
    --taskbar-bg-color: #41414122;
    --taskbar-menu-bg-color: #151515FF;
    --taskbar-fg-color: #FFFFFF;
    --taskbar-height: 26px;
}

#taskbar {
    background-color: var(--taskbar-bg-color);
    height: var(--taskbar-height);
    margin: 0px;
    padding: 0px;
}

#taskbar #right_docker {
    height: var(--taskbar-height);
    float: right;
    margin-right: 3px;
    margin-top: 3px;
}

#taskbar #right_docker #status * {
    color: #FFFFFF;
    height: calc(var(--taskbar-height) - 6px);
    font-size: auto;
    vertical-align: middle;
}

#taskbar #right_docker #status .translucent {
    color: #00000000;
}

#taskbar #right_docker #menu {
    height: calc(var(--taskbar-height) - 6px);
    width: calc(var(--taskbar-height) - 6px);
    vertical-align: middle;
}

#taskbar_menu {
    position: absolute;
    top: -100%;
    right: 0px;
    width: 350px;
    height: 400px;
    background-color: var(--taskbar-menu-bg-color);
    transition: top 0.5s;
    z-index: 4;
    padding: 7px;
    color: #fff;
}

#taskbar_menu img {
    vertical-align: middle;
    padding: 5px;
}

#taskbar_menu #logout:hover, #taskbar_menu #suspend:hover, #taskbar_menu #poweroff:hover {
    cursor: pointer;
}

#suspender {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 15;
}

#suspender #unsuspend {
    display: none;
    position: absolute;
    height: 50px;
    width: 50px;
    left: calc(50% - 25px);
    top: calc(50% - 25px);

    cursor: pointer;
}