#terminal_window input {
    flex : 1;
    border-right : 0;
    border-left : 0;
    border-top: 0;
    border-bottom-color : white; 
    background-color: #040404;
    color : white;
}

#terminal_window .terminal {
    display: flex;
}

#terminal_window .shell {
    padding-right : 15px;
}

#terminal_window *:focus {
    outline: none;
}

#terminal_window {
    background-color: #040404;
    color : white;
    width: 100%;
    height: 100%;
}