#toast {
    width: 400px;
    height: auto;
    padding: 15px;
    position: absolute;
    z-index: 6;
    bottom: 0px;
    left: -100%;
    cursor: pointer;

    transition: left 1.25s ease-out;
    background-color: #202020;
    color: #fff;

    box-shadow: #202020;
}

#toast .title {
    font-size: 1.2em;
    text-decoration: underline;
    padding-bottom: 10px;
}